
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"primærknap": #C99D45,
	"sekundærknap": #ffffff,
	"primærtekst": #C99D45,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


.overskrift-stor {
	font-family: agbalumo, serif;
	font-size: 5rem;
	line-height: 1.2;

	@media (max-width: 1200px) {
		font-size: 4rem; // Gør den lidt mindre på store tablets og laptops
	}

	@media (max-width: 992px) {
		font-size: 3rem; // Mindre på mindre skærme
	}

	@media (max-width: 768px) {
		font-size: 2.3rem; // Til tablets
	}

	@media (max-width: 576px) {
		font-size: 2rem; // Til mobil
	}
}

.overskrift-mellem {
	font-family: agbalumo, serif;
	font-size: 2.5rem;

	@media (max-width: 1200px) {
		font-size: 2rem;
	}

	@media (max-width: 992px) {
		font-size: 1.75rem;
	}

	@media (max-width: 768px) {
		font-size: 1.5rem;
	}

	@media (max-width: 576px) {
		font-size: 1.25rem;
	}
}

.overskrift-lille {
	font-family: agbalumo, serif;
	font-size: 2rem;

	@media (max-width: 1200px) {
		font-size: 2rem;
	}

	@media (max-width: 992px) {
		font-size: 2rem;
	}

	@media (max-width: 768px) {
		font-size: 2rem;
	}

	@media (max-width: 576px) {
		font-size: 1.5rem;
	}
}

.brødtekst-lille {
	font-family: 'lato', sans-serif;
	font-size: 1rem;

	@media (max-width: 1200px) {
		font-size: 0.95rem;
	}

	@media (max-width: 992px) {
		font-size: 0.9rem;
	}

	@media (max-width: 768px) {
		font-size: 0.85rem;
	}

	@media (max-width: 576px) {
		font-size: 0.8rem;
	}
}

.brødtekst-mellem {
	font-family: 'lato', sans-serif;
	font-size: 1.2rem;

	@media (min-width: 1201px) {
		font-size: 2rem;
	}
	
	@media (max-width: 1200px) {
		font-size: 2rem;
	}

	@media (max-width: 992px) {
		font-size: 1.75rem;
	}

	@media (max-width: 768px) {
		font-size: 1.5rem;
	}

	@media (max-width: 576px) {
		font-size: 1.25rem;
	}
}

.brødtekst-knap {
	font-family: 'lato', sans-serif;
	font-size: 1.25rem;

	@media (max-width: 1200px) {
		font-size: 1.2rem;
	}

	@media (max-width: 992px) {
		font-size: 1.15rem;
	}

	@media (max-width: 768px) {
		font-size: 1.10rem;
	}

	@media (max-width: 576px) {
		font-size: 1.05rem;
	}
}


/* Standardstil for knappen */
.btn-minside {
	background-color: white;
	color: black;
	transition: background-color 0.4s ease, color 0.4s ease;
}

/* Hover effekt for skærmstørrelser lg og op */
@media (min-width: 992px) {
	.btn-minside:hover {
		background-color: #c99d45;
		color: white;
	}
}

/* For skærme mindre end lg (md, sm og xs), hold den guld uden hover-effekt */
@media (max-width: 991px) {
	.btn-minside {
		background-color: #c99d45;
		color: white;
	}
}


.tilbageknap {
	background-color: transparent; /* Sørger for ingen baggrundsfarve */
	color: white !important; /* Startfarve for teksten */
	transition: color 0.4s ease; /* Overgang for kun farven */
}

.tilbageknap:hover {
	color: #c99d45 !important; /* Teksten skifter til guld ved hover */
}


/* Sørg for, at billederne har en fast højde og udfylder kortet korrekt */
.card-body img {
	height: 100%; /* Sørg for, at billedet fylder hele kortets højde */
	width: 100%;  /* Billedet skal fylde hele bredden af kortet */
	object-fit: cover; /* Sørger for, at billedet bliver beskåret, men fylder rummet */
}


/* Responsivt design for s skærme og mindre */
@media (max-width: 767px) {
	.card {
		height: 350px;
		width: 22rem;
	}
}

/* Responsivt design for md skærme */
@media (min-width: 768px) {
	.card {
		height: 400px;
		width: 22rem;
	}
}

/* Responsivt design for L skærme */
@media (min-width: 992px) {
	.card {
		height: 400px;
		width: 20rem;
	}
}

/* Responsivt design for XL skærme */
@media (min-width: 1200px) {
	.card {
		height: 400px;
		width: 17rem;

	}
}

/* Responsivt design for XXL og over */
@media (min-width: 1400px) {
	.card {
		height: 400px;
		width: 20rem;

	}
}



